<div class="home">
    <h1>Magic Github Explorer</h1>

   <div class="content">
        <img class="img" src="../../assets/home/github.png" alt="github">
        <p class="text">
            Magic Github Explorer
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Quidem consequatur nulla cupiditate hic voluptatum optio 
            deleniti ea? Provident incidunt quam doloribus, quibusdam 
            harum non ullam quia pariatur, consequatur laborum corporis 
            reiciendis, odio mollitia repellendus earum repudiandae suscipit 
            obcaecati adipisci. Veniam ipsa consectetur quibusdam aut exercitationem 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Quidem consequatur nulla cupiditate hic voluptatum optio 
            deleniti ea? Provident incidunt quam doloribus, quibusdam 
            harum non ullam quia pariatur, consequatur laborum corporis 
            reiciendis, odio mollitia repellendus earum repudiandae suscipit 
            obcaecati adipisci. Veniam ipsa consectetur quibusdam aut exercitationem 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Quidem consequatur nulla cupiditate hic voluptatum optio 
            deleniti ea? Provident incidunt quam doloribus, quibusdam 
            harum non ullam quia pariatur, consequatur laborum corporis 
            reiciendis, odio mollitia repellendus earum repudiandae suscipit 
            obcaecati adipisci. Veniam ipsa consectetur quibusdam aut exercitationem 
            Quidem consequatur nulla cupiditate hic voluptatum optio 
            deleniti ea? Provident incidunt quam doloribus, quibusdam 
            harum non ullam quia pariatur, consequatur laborum corporis 
            reiciendis, odio mollitia repellendus earum repudiandae suscipit 
            obcaecati adipisci. Veniam ipsa consectetur quibusdam aut exercitationem 
        </p>

   </div>   
</div >  